@font-face {
  font-family: "yoster-island-regular";
  src: url(yoster-island/yoster.ttf);
 }


 a {
  color:gray;
  }
  a:hover{
    color:white;
  }

body {
  font-family: "yoster-island-regular";
  color: #ac7403df;
  background-image: url(./pictures/bkgimg.jpg);
  text-align: center;
}


.submit{
  position: relative;
  left:550px;
  bottom:20px;
}

header {
  text-align: center;
}

li{
  display: inline;
  padding: 8px;
}


.item-a{
  grid-area: header;
}

.item-b{
  grid-area: nav;
}

.item-c{
  grid-area: main;
}

.item-d{
  grid-area: footer;
}

.container {
  display: grid;
  grid-template:
  [row1-start] "header header header" 25px [row1-end]
  [row2-start] "footer footer footer" 400px [row2-end]
  / auto 50px auto;
}
.container{
  display:flex;
  justify-content: center;
  border-style: solid;
  border-width: 10px;
  border-radius: 25px;
  border-color: rgb(109, 37, 37);
  border-top-width: 25px;
  box-shadow: 10px 5px 5px rgb(7, 40, 9);

}

.assignments{
  padding: 100px;
}
h1 {
  position: relative;
  right: 450px;
  bottom: 50px;
}

h2 {
position:relative;
text-align: center;
top: 50px;
}
